<a href="https://colab.research.google.com/github/SachinScaler/dsml-apr-23-advanced-batch/blob/main/ADV_PS3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem Description
Create a class Student and initialize it with the following class variables:


marks in subject 1
credit of subject 1
marks in subject 2
credit of subject 2

Create a function gradepointaverage() for the Student class which computes the GPA rounded to two decimals, based on the following criteria of points in a subject :

1. If marks>=90:10 points
2. If 90>marks>=75: 9 points
3. If 75>marks>=60: 8 points
4. If 60>marks>=45: 7 points
5. If marks<45: 0 points

The points in a subject should be calculated according to the criteria mentioned in the question.
Also, implement a special zero case to handle when credits of both subjects are 0, return "Zero credits for both subjects".

In [ ]:
class Student():
    
    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1 = marks1
        self.marks2 = marks2
        self.credits1 = credits1
        self.credits2 = credits2

    def get_points(self, marks):# given marks, calculate points::: I haven't used self.attribute
        if marks>=90:
            return 10 
        elif marks>=75: 
            return 9  
        elif marks>=60 : 
            return 8 
        elif marks>=45: 
            return 7 
        else:
            return 0 
    
    def grade_point_average(self):
        if self.credits1==0 and self.credits2==0:
            return "Zero credits for both subjects"
        
        gpa=0

        self.point1 = self.get_points(self.marks1)
        self.point2 = self.get_points(self.marks2)

        gpa = ((self.credits1*self.point1) + (self.credits2*self.point2))/(self.credits1+self.credits2)
        
        #YOUR CODE GOES HERE
    
        return gpa

s1 = Student(85, 76, 3, 4)

s1.grade_point_average()

9.0

In [ ]:
class Student():
    
    def __init__(self, marks1,marks2,credits1, credits2):
        #YOUR CODE GOES HERE
        self.marks1 = marks1
        self.marks2 = marks2
        self.credits1 = credits1
        self.credits2 = credits2

    @staticmethod 
    def get_points(marks):# given marks, calculate points::: I haven't used self.attribute
        if marks>=90:
            return 10 
        elif marks>=75: 
            return 9  
        elif marks>=60 : 
            return 8 
        elif marks>=45:  
            return 7 
        else:
            return 0 
    
    def grade_point_average(self):
        if self.credits1==0 and self.credits2==0:
            return "Zero credits for both subjects"
        
        gpa=0

        self.point1 = Student.get_points(self.marks1)
        self.point2 = Student.get_points(self.marks2)

        gpa = ((self.credits1*self.point1) + (self.credits2*self.point2))/(self.credits1+self.credits2)
        
        #YOUR CODE GOES HERE
    
        return gpa

s1 = Student(85, 76, 3, 4)

s1.grade_point_average()

9.0

In [ ]:
def some_funct():
    try:
        print(a)
        return ("1")
    except: 
        print(2)
        return ("2")

    finally:
        print(3)

some_funct()

2
3

'2'

Write a program to calculate the mean and standard deviation of given data given in the form of a list and return them. Complete the functions sdcalc which returns standard deviation and avgcalc, which returns mean. Both mean and standarddeviation are rounded up to 3 decimal places.

The mean of a list of numbers is given by: 
where N = number of elements, xi =ith element in the list.

The standard deviation of a list of numbers is given by: 
where N = number of elements, Î¼ = Mean of all elements, xi =ith element in the list.

In [ ]:


def avg_calc(data):
    """
    data is list of integers
    returns mean of the given list of numbers, rounded to three decimal.
    """
    
    #YOUR CODE GOES HERE
    mean = sum(data)/len(data)
    return round(mean,3)
    
def sd_calc(data):

    """
    data is list of integers
    returns standard deviation of the given list of numbers, rounded to three decimal.
    """
    n = len(data)
    mean = avg_calc(data)
    #YOUR CODE GOES HERE
    sd = 0
    for i in data:
        sd+=((i-mean)**2)

    sd = (sd/(n-1))**0.5

    return round(sd,3)

input_list = [4, 2, 5, 8, 6] # sum(list)/len(list) # np.mean
sd_calc(input_list)

2.236

In [ ]:
avg_calc(input_list)

2.0

In [ ]:
input_list = [4, 2, 5, 8, 6] # sum(list)/len(list) # 
np.mean(input_list), sum(input_list)/len(input_list)

(5.0, 5.0)

In [ ]:
np.std(input_list)

2.0

In [ ]:
sum(xi - mean)**2/N # std dev: Population's std even
sum(xi - mean)**2/(N-1) # std dev: Sample's std even

In [ ]:
import math
result = 1
for i in range(1,7):
     result += 1/math.factorial(i)#blank1
print(round(result,2))

2.72

In [ ]:
[1,2,3,4]
a = lcm(1,2)
lcm(1,2,3) = lcm(a,3)
lcm(1,2,3, 4) = lcm(lcm(1,2,3),4)

In [ ]:
list1 = [1,2,3,4]
import math
def lcm(a,b):
    return int((a*b)/math.gcd(a,b))
lcm(1,2)
result = lcm(list1[0],list1[1])
for i in range(2, len(list1)):
    result = lcm(result,list1[i])
print(result)

12

In [ ]:
import os
path = r"C:\Users\leo\Pictures\book"
os.chdir(path)

# Read text File 
def read_text_file(file_path):
    ___________________ #blank1 (one line of code required)
        print(f.read())

for file in os.listdir(path):
    # Check whether file is in text format or not and if it is then update the file_path

    ______________________________ #blank2 (2 lines of code required)
        read_text_file(file_path)

In [ ]:
import os
print(os.listdir())
path = '/content/sample_data'
os.chdir(path) # changes your working dir: Very rarely you do this
print(os.listdir())

['.config', 'untitled', 'sample_data']
['README.md', 'anscombe.json', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv', 'mnist_train_small.csv']

In [ ]:
os.getcwd()

'/content/sample_data'

In [ ]:
os.chdir(path)


# Read text File 
def read_text_file(file_path):
    with open(file_path, 'r') as f: #blank1 (one line of code required)
        out = (f.read())
        print(out)
        print(type(out))

for filename in os.listdir(path):
    if (filename).endswith(".md"):
        read_text_file(filename)

This directory includes a few sample datasets to get you started.

*   `california_housing_data*.csv` is California housing data from the 1990 US
    Census; more information is available at:
    https://developers.google.com/machine-learning/crash-course/california-housing-data-description

*   `mnist_*.csv` is a small sample of the
    [MNIST database](https://en.wikipedia.org/wiki/MNIST_database), which is
    described at: http://yann.lecun.com/exdb/mnist/

*   `anscombe.json` contains a copy of
    [Anscombe's quartet](https://en.wikipedia.org/wiki/Anscombe%27s_quartet); it
    was originally described in

    Anscombe, F. J. (1973). 'Graphs in Statistical Analysis'. American
    Statistician. 27 (1): 17-21. JSTOR 2682899.

    and our copy was prepared by the
    [vega_datasets library](https://github.com/altair-viz/vega_datasets/blob/4f67bdaad10f45e3549984e17e1b3088c731503d/vega_datasets/_data/anscombe.json).

<class 'str'>

In [ ]:
os.chdir('/content/')
os.listdir()

['.config', 'data.txt', '.ipynb_checkpoints', 'untitled', 'sample_data']

In [ ]:
with open('data.txt', 'r') as fr:
  lines = fr.readlines()
  print(lines)

['a\n', 'scalera\n', 'b\n', 'scalern']

In [ ]:
with open('new_data.txt', 'w') as fw:
    for line in lines:
        if 'scaler' in line:
            fw.writelines(line)

In [ ]:
lines = ["a", "b", "c"]
with open('new_data.txt', 'w') as fw:
        fw.write(lines)

TypeError: ignored

In [ ]:
a = open('data.txt', 'r')
print(a.read())
a.close()
a.closed

a
scalera
b
scalern

True

In [ ]:
b = open('data.txt', 'r')
print(b.read())
b.close()

a
scalera
b
scalern

In [ ]:
try:
    a = open('data.txt', 'r')
    print(a.read())
except:
    pass
finally:
    a.close()

print(a.closed)

a
scalera
b
scalern
True

In [ ]:
with open('data.txt', 'r') as b:
    print(b.read())
    print(b.closed)
b.closed

a
scalera
b
scalern
False

True

In [ ]:
[1,2,3]



# susequence : using for
# substring # recursion: DP, B