<a href="https://colab.research.google.com/github/SachinScaler/dsml-apr-23-advanced-batch/blob/main/Basics_of_Time_and_Space_Complexity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def foo(n):
    x = 1 # 1
    y =1 # 1
    z= 1 # 1
    print(n) #1 

foo(10000)

- o(1)--> Constant Time
-  as number of ops are independent of n

In [ ]:
def foo(n):
    for i in range(n): #(1)
        print(i) # n
    y =1 # 1
    z= 1 # 1
    print(n) #1 

foo(10000)

- 1+1+1+1+n -> 4 + n
- n + 4n^0
- O(n)--> Linear Time Complexity

In [ ]:
for i in range(n) # 1
        print(i) # n

for j in range(n): # 1
        print(j) #n

n+n+1+1-> 2n+2--> 2n
--> O(n): Linear

In [3]:
n = 2
for i in range(n): #1
    print("Hello") # n times
    for j in range(n): # n 
        print("World") #  n**2

Hello
World
World
Hello
World
World

- n**2+n+n+1-> n^2
- O(n^2)

In [ ]:
n = 2
for i in range(n): #1
    print("Hello") # n times
    for j in range(n): # n 
        print("World") #  n**2

for i in range(n): #1
    print("Hello") # n times
    for j in range(n): # n 
        print("World") #  n**2

In [ ]:
n = 10 # --> 10*(10+1)/2-->55
for i in range(n): #1
    for j in range(i): # n 
        print(j) # 0 +1+2+3+4-----+n> n ---> n*(n+1)/2

1+n+n*(n+1)/2--> 1+n + (n^2)/2 + n/2  
--> (n^2)/2--> O(n^2)

In [ ]:
for i in range((n)): # 1
    for j in range(0,n,n//2): # n
            break # 1
for k in range((n)): # 1
        print(k) # n

o(n)

In [9]:
n = 5
for i in range((n)): # 1
    for j in range(0,n,n//2): # n
            print(j) # 2n
for k in range((n)):
        print(k)

0
2
4
0
2
4
0
2
4
0
2
4
0
2
4
0
1
2
3
4

O(n)

In [5]:
n  =100
for j in range(0,n,n//2): # n
            print(j) #

0
50

In [6]:
100/2

50.0

In [11]:
def funct(n):
    for i in range(int(n**0.3)):
        print(i) # n^0.3--> cuberoot

n = 81
funct(n)

0
1
2

In [ ]:
# n^n --> n ^2n ---> n^2 --> n^4

In [ ]:
n, logn, n^2, n^n, 2^n

HW: 

```
for i in range(n):
  while i>0:
      print(i)
      i-=1

```

In [16]:
def func(n):
    while n>0:
        n=n//2   # 4, 2, 1, 0
        print("n")

n = 16 #-->2^i +1 -- 2^4+1
func(n)

n
n
n
n
n

logn+1--> log n


### HW: Linear Search and Binary Search and compare time complexity

#### list1 = [1,2,34,67,88,800]
#### find the index of element a
```
input = 34
output = 2
```

In [18]:
def func(n):
    for i in range(n):
        j= n # o(n)
        while j<0: 
            j=j//2  
            print("n")
func(100)

O(n)

In [ ]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))

In [20]:
# method 1: frequency

def count_frequency(list1):
    for i in list1:
        print(i, ":", list1.count(i))


list1 = [ 2,3,1,3,2,5,1,2,4,5,5]
count_frequency(list1)

2 : 3
3 : 2
1 : 2
3 : 2
2 : 3
5 : 3
1 : 2
2 : 3
4 : 1
5 : 3
5 : 3

- space - > O(1)
- TC - > n^^2

In [21]:
# method 2: frequency with set

def count_frequency(list1):
    a = set(list1) # worst case: n, best case 1
    for i in a:
        print(i, ":", list1.count(i)) # n


list1 = [ 2,3,1,3,2,5,1,2,4,5,5]
count_frequency(list1)

1 : 2
2 : 3
3 : 2
4 : 1
5 : 3

SC--> worst Case: o(n)

TC -> n^2

In [22]:
list1 = [ 1,2,3,4,5] # set (n)== len(list)--> n
list1 = [ 1,1,1,1,1] # set (1) == len(list)--> n

In [24]:
# method 3: frequency with dictionary

def count_frequency(list1):
    a = {} # worst case: n, best case 1
    for i in list1:
        if i in a: # in operation on dictionary constant time  but on list take o(n)
            a[i]+=1
        else:
            a[i]=1

    print(a)


list1 = [ 2,3,1,3,2,5,1,2,4,5,5]
count_frequency(list1)

{2: 3, 3: 2, 1: 2, 5: 3, 4: 1}

- TC: o(n)
- SC: o(n)

TC:

In [ ]:
def getfibonacci(n):
    if n<=0:
        return 0

    if (n == 1 or n == 2):
        return 1
 
    else:
        return getfibonacci(n-1) + getfibonacci(n-2)
getfibonacci(6)

TC - > 2^n

In [ ]:
|