<a href="https://colab.research.google.com/github/SachinScaler/dsml-apr-23-advanced-batch/blob/main/Doubt_Solving_1_Apr23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "Hello" # global  and immutable

def function():
    global str1 
    str1 = "World" # local variable
    print("INSIDE FUNCTION",str1)
    return str1 

function()
print("Outside Function",str1)

INSIDE FUNCTION World
Outside Function World

Global Immutables can't be updated without global keyword

In [ ]:
lst1 = ["Hello"] # global  and mutable

def function():
     
    lst1.append("World") # local variable
    print("INSIDE FUNCTION",lst1)

function()
print("Outside Function",lst1)

INSIDE FUNCTION World
Outside Function ['Hello']

In [ ]:
a=10

def update_a():
    a = 20
    print(a)
print(a)

10

In [ ]:
a=10

def update_a():
    a = 20

update_a()
print(a)

10

In [ ]:
a=10

def update_a():
    a = 20
    print(a)

update_a()
print(a)

20
10

In [ ]:
a=10

def update_a():
    global a
    a = 20
    print(a)

update_a()
print(a)

20
20

In [ ]:
list1 = ["AZC", "BCD", "AAC"]
sorted(list1)

['AAC', 'AZC', 'BCD']

In [ ]:
list1 = [(1,5), (1,3), (0,100), (0,10,100)]
sorted(list1)

[(0, 10, 100), (0, 100), (1, 3), (1, 5)]

In [ ]:
def func(a):
    return a[1]
sorted(list1, key =func)

[(1, 3), (1, 5), (0, 10, 100), (0, 100)]

In [ ]:
sorted(list1, key =lambda x :x[1] ) # in functional programming

[(1, 3), (1, 5), (0, 10, 100), (0, 100)]

In [ ]:
list1 = ["abbbc", "aabc", "aabba", "aabbbbb"]

sorted(list1, key =lambda x :x.count('b') )

['aabc', 'aabba', 'abbbc', 'aabbbbb']

In [ ]:
x = "abbbc"
x.count('b')

3

In [ ]:
'1' >'a' # ascii value

False

In [ ]:
1 >'a' # ascii value

TypeError: ignored

In [ ]:
ord('1')

49

In [ ]:
ord('a')

97

In [ ]:
list1 = [1, 'a', 'c']
sorted(list1)

TypeError: ignored

In [ ]:
list1 = ['1', 'a', 'c']
sorted(list1)

['1', 'a', 'c']

In [ ]:
list1 = [1, 'a', 'c']
sorted(list1, key = lambda x: str(x), reverse = True)

['c', 'a', 1]

In [ ]:
list1 = [(1,10), (5,3), (1,5)]

max(list1)

(5, 3)

In [ ]:
list1 = [(1,10), (1,3), (1,5)]

max(list1, key = lambda x : sum(x))

(1, 10)

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
var=1
def ML():
     print("Inside ML:", var, end=" ")

def AI():
     var=2
     print("Inside AI:", var, end=" ")

def DL():
     global var
     var =3
     print("Inside DL:",  var, end=" ")
ML()
print(var, end=" ")

Inside ML: 1 1

In [ ]:
AI()
print(var, end=" ")

Inside AI: 2 1

In [ ]:
DL()
print(var, end=" ")

Inside DL: 3 3

In [ ]:
arr = [[1,2,3],[10,11,12],[4,5,6],[13,14,15],[10,1,2,100, 1002]]

print(max (arr, key=sum ) )

[10, 1, 2, 100, 1002]

Homework find maximum values based on product of tuple:

- input1: arr = [[1,2,3],[10,11,12],[4,5,6],[13,14,15],[10,1,2]]

- input2: arr = [[1,2,3],[10,11,12],[4,5,6],[13,14,15, 100],[10,1]]

In [53]:
def unknown(string):

    a = set(string.split())# remove dupplicate char

    a="".join(a)
    print(a)

unknown('Worlld')

Worlld

### HW: Preserve Order

In [56]:
"World".split()

['World']

In [60]:
list1 = [1,2,3,4,5]
list1[0:3] = [1]*3

In [ ]:
def f():
  ans = 0
  for i in range(1,n+1):
    for j in range(i,n+1,i): # n
      ans += 1 # 
  print(ans)

In [ ]:
i,j,k,p,q = 0
for i in range(n):
  p = 0
  j = n # n
  while(j>1): # log n
    p+=1 # log n
    k = 1 # log n
    while(k<p): # log(log(n))
      q+=1
      k *=2 
    j = j/2

In [63]:
# linear = 10,00,000

import math
math.log(100000000000 , 2)

36.541209043760986