- Lambda Functions is also called Anonymous
- Lambda Functions can't be stored in Variable (Not Correct)
- Lambda function takes a set of inputs and returns one or more outputs
- Lambda function is a way to achieve Functional programming in python

In [8]:
a,b = (lambda x,y: (x+y, x-y))(2,10)
print(a)

12

In [9]:
print(b)

-8

In [13]:
list1 = ["Heeello", "eeeel", "Voweels", "Kausach", "Elephant" ]
sorted(list1, key = lambda x: x.count('e')) # case sensitive

['Kausach', 'Elephant', 'Voweels', 'Heeello', 'eeeel']

In [14]:
list1 = ["Heeello", "eeeel", "Voweels", "Kausach", "Elephant" ]
sorted(list1, key = lambda x: x.lower().count('e')) # case insensitive

['Kausach', 'Voweels', 'Elephant', 'Heeello', 'eeeel']

- map(func, iterable)
- filter(func, iterable)

In [ ]:
from functools import reduce

a = range(1, 11) # sum natural till 10: 1+2+3+..10
res = reduce(lambda x, y: x + y, a)
print(res)

In [18]:
a = range(1, 11)
print(a)

range(1, 11)

In [27]:
map(lambda x: x*x, reduce(lambda x,y: x*y,  filter(lambda x: x%5==0 or x%2==0, [1,2,3,4,5])))

TypeError: ignored

In [23]:
a = filter(lambda x: x%5==0 or x%2==0, [1,2,3,4,5])

In [24]:
for i in a:
    print(i)

2
4
5

In [25]:
2*4*5

40

HW: Explore possible scenarios where value of arg isn't going to throw error for the below Code:

In [28]:
arg = [1,2,3,4,5] # replace this
map(lambda x: x*x, reduce(lambda x,y: x*y, arg))

TypeError: ignored

## ZIP:
- used to zip multiple *iterables*
- size of output depends on min length among all iterables

In [30]:
list1 = ['a', 'b', 'c']
list2 = [1,2,3]
list(zip(list1, list2)) # [ (list1[0], list2[0]), (list1[1], list2[1]), (list1[2], list2[2])...N]

[('a', 1), ('b', 2), ('c', 3)]

In [31]:
dict(zip(list1, list2))

{'a': 1, 'b': 2, 'c': 3}

In [32]:
tuple(zip(list1, list2))

(('a', 1), ('b', 2), ('c', 3))

In [33]:
list1 = ['a', 'b', 'c'] # 3
list2 = [1,2,3, 4,5] # 5
list(zip(list1, list2)) # [ (list1[0], list2[0]), (list1[1], list2[1]), (list1[2], list2[2])...N]

[('a', 1), ('b', 2), ('c', 3)]

In [34]:
list1 = ["A", "B", "C"] # length 3
list2 = [1,2,3,4] # length 4
list3 = ["!", "@", "#", "$", "%"] # length 5
list(zip(list1,list2 ,list3)) # list of tuples where each tup is len 3

[('A', 1, '!'), ('B', 2, '@'), ('C', 3, '#')]

In [35]:
list1 = ["A", "B", "C"] # length 3
list2 = [1,2,3,4] # length 4
list3 = ["!", "@", "#", "$", "%"] # length 5
list4 = ['l']
list(zip(list1,list2 ,list3, list4))

[('A', 1, '!', 'l')]

### Packing and unpacking

In [37]:
a = 1
b = 2
c = 3
print(a, b,c)

1 2 3

In [39]:
# unpacking (1,2,3) into a,b,c
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [40]:
a,b,c = [1,2,3]
print(a,b,c)

1 2 3

In [41]:
a,b,c, d = [1,2,3]
print(a,b,c,d)

ValueError: ignored

In [42]:
a,b,c = [1,2,3, 4]
print(a,b,c)

ValueError: ignored

In [44]:
# packing a,b,c into args
args = a,b,c

In [45]:
args

(1, 2, 3)

In [46]:
def add_func(a,b):
    sum = (a+b)
    return sum
add_func(1,2)

3

In [51]:
def add_func(a,b, *c):
    sum = (a+b)
    for i in c:
        sum+=i
    return sum
add_func(1,2,3)

6

In [52]:
def add_func(a,b, *args):
    sum = (a+b)
    for i in args:
        sum+=i
    return sum
add_func(1,2,3)

6

In [53]:
def add_func(a,b, *args):
    sum = (a+b)
    for i in args:
        sum+=i
    return sum

add_func(1)

TypeError: ignored

In [58]:
def add_func(a,b = 2, *args):
    sum = a+b
    for i in args:
        sum+=i
    return sum

add_func(1,2)

()

3

In [61]:
def add_func(a,*args,b= 2):
    sum = a+b
    for i in args:
        sum+=i
    return sum

add_func(1,2,3,4)

12

In [ ]:
def add_func(a,*args):
    sum = a+b
    for i in args:
        sum+=i
    return sum

add_func(1,2,3,4)

**kwargs:

In [64]:
def add_func(a,**kwargs):
    
    print(a)
    print(kwargs)

add_func(1, b= 2,c= 3,d= 4)

1
{'b': 2, 'c': 3, 'd': 4}

In [66]:
def add_func(a,*args,**kwargs):
    
    print(a)
    print(args)
    print(kwargs)

add_func(1,2,3,b= 2,c= 3,d= 4)

1
(2, 3)
{'b': 2, 'c': 3, 'd': 4}

- Implement ZIP FUNCTION FROM SCRATCH

In [ ]:
def ourZIP(many_iterables):
    # zips based on max length and keeps others as NONE
    pass

In [ ]:
l1 = [1,2]
l2 = ['a', 'b', 'c']
l3 = ['!', '#']


# output = [(1,a,"!"), (2, 'b',#), (None,'c',None) ]

### Higher Order Functions: A function that returns another function is known as Higher Order Function

In [67]:
def outer(x):
    def inner(y):
        return x + y
    return inner # returning inner function

add_10 = outer(10)
print(type(add_10))

<class 'function'>

In [73]:
def function():
    def func2():
        return ("hello")
    return func2() # calls func2 and returns output
print(type(function()))

<class 'function'>

In [72]:
function()

'hello'

In [74]:
def print_msg(str1):
    print(str1)

a = print_msg

In [75]:
a("hello")

hello

In [76]:
print_msg("Hello")

Hello

In [ ]:
def exp(x,n):
    return x**n

Decorators:
- HOF which takes a function as argument and adds extra functionality to the existing function

In [77]:
def foo():
    print("hello Learners of April Batch")

def bar():
    print("hello Learners of Dec Batch")

foo()

hello Learners of April Batch

In [79]:
foo()
bar()

hello Learners of April Batch
hello Learners of Dec Batch

In [81]:
def foo():
    print("-"*50)
    print("hello Learners of April Batch")
    print("-"*50)
foo()

--------------------------------------------------
hello Learners of April Batch
--------------------------------------------------

In [82]:

def bar():
    print("-"*50)
    print("hello Learners of Dec Batch")
    print("-"*50)


bar()

--------------------------------------------------
hello Learners of Dec Batch
--------------------------------------------------

### Decorators:

In [90]:
# a decorator function which decorates input functions
def pretty(func):
    def inner():
        print("-"*50)
        func()
        print("-"*50)
    return inner

@pretty # ---> foo = pretty(foo)
def foo():
    print("hello Learners of April Batch")


@pretty
def bar():
    print("hello Learners of Dec Batch")

bar()

--------------------------------------------------
hello Learners of Dec Batch
--------------------------------------------------

In [84]:
new_foo = pretty(foo)
new_foo()

--------------------------------------------------
hello Learners of April Batch
--------------------------------------------------

In [85]:
new_bar = pretty(bar)
new_bar()

--------------------------------------------------
hello Learners of Dec Batch
--------------------------------------------------

In [87]:
@pretty # @ annotation to decorate this function
def hello():
    print("hello Learners of June Batch")

hello()

--------------------------------------------------
hello Learners of June Batch
--------------------------------------------------

In [91]:
@pretty # ---> foo = pretty(foo)
@pretty # ---> foo = pretty(foo)
def foo():
    print("hello Learners of April Batch")

In [92]:
foo()

--------------------------------------------------
--------------------------------------------------
hello Learners of April Batch
--------------------------------------------------
--------------------------------------------------

### create a decorator which calculates time taken by each of the following approach:

In [98]:
def comprehension():
    return [i**2 for i in range(1,1000)]

def mapper():
    return list(map(lambda x :x**2, range(1,1000)))

def traditonal():
    list1 = []
    for i in range(1,1000):
        list1.append(i**2)
    return list1

import numpy as np
def vectorized():
    return np.array(range(1,1000))**2

In [97]:
import time

start = time.time()
# custom logic comprehension()
end = time.time()
print(end-start)

4.8160552978515625e-05

- Pass last number i.e. 1000 as Arg

In [ ]:
def comprehension(num):
    return [i**2 for i in range(1,num)]

def mapper(num):
    return list(map(lambda x :x**2, range(1,num)))

def traditonal(num):
    list1 = []
    for i in range(1,num):
        list1.append(i**2)
    return list1

import numpy as np
def vectorized(num):
    return np.array(range(1,num))**2