In [5]:
class A:
    pass

In [4]:
if True:
    pass

In [13]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=self.count+1

    def print_count(self):
        return self.count

c = Counter()
# print(c.count)

In [12]:
c.print_count()

NameError: ignored

In [ ]:
def funct():
    a = 10

def funct2():
    return a

In [8]:
class A:
    counter= 0
    def __init__(self):
      self.counter+=1
      print("New object Created!")

A() # object1

obj1 = A() # object 2

if A(): # object 3
    print(A())  # object 4

New object Created!
New object Created!
New object Created!
New object Created!
<__main__.A object at 0x7f9bf35638b0>

In [14]:
class A:
    counter= 0 # class var and immutable
    def __init__(self):
      A.counter+=1 # using Class Name
A()
obj1 = A()
if A():
    print(A.counter)

3

In [15]:
class A:
    counter=0 # class var and immutable
    def __init__(self):
      self.counter+=1 # using object

A()
obj1 = A()
if A():
    print(A.counter)

0

In [16]:
obj1.counter

1

In [17]:
class A:
    counter=0 # class var and immutable
    def __init__(self):
      self.counter+=1 # using object

obj1 =A()
obj2 = A()
print(obj2.counter)

1

In [18]:
class A:
    counter= [] # class var and mutable
    def __init__(self):
      self.counter.append(1)  # using object

A()
obj1 = A()
if A():
    print(A.counter)

[1, 1, 1]

In [19]:
class A:
    counter= [] # class var and mutable
    def __init__(self):
      A.counter.append(1)  # using class

A()
obj1 = A()
if A():
    print(A.counter)

[1, 1, 1]

In [21]:
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()  # line 1
        print("I also do something!") # line 2

b = B()
b.do_something()

I do something!
I also do something!

In [ ]:
class A:
    def do_something2(self):
        print("I do something!")

class B(A):
    def do_something(self):
        print("I also do something!") # line 2

In [25]:
class A:
    pass

dir(A)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__']

In [26]:
isinstance(A, object)

True

# Lambda Functions

In [27]:
def square(x):
    return x**2

square(5)

25

In [28]:
sqaure_lam = lambda x: x**2
sqaure_lam(5)

25

In [29]:
(lambda x: x**2)(6)

36

### Lambda functions are popularly known as ANONYMOUS FUNCTIONS since they can be invoked without storing into a reference Variable

``` func = lambda input_arg: output ```

In [32]:
def some_func(x):
    if x>5:
        return x**2
    else:
        return x**3

some_func(2)

8

In [33]:
(lambda x: x**2 if x>5 else x**3)(2)

8

In [35]:
custom_func = (lambda x: x**2 if x>5 else x**3)
custom_func(9)

81

if

elif 

else

In [36]:
def some_func(x):
    if x<5:
        return x**2
    elif x>15:
        return x**3
    else:
        return x

some_func(2)

4

In [40]:
(lambda x: x**2 if x<5 else x**3 if x>15 else x)(2)

4

### Mulitple inputs

In [41]:
(lambda a,b: a+b)(1,2)

3

In [43]:
mul = (lambda a,b: a*b)
mul(3,2)

6

### Take 3 arguments and sum first two if they first two are even and multiply 3rd else multiply first two and add 3rd

In [44]:
list1 = [
[101,2,3],
[11,91,3],
[79, 11, 9]]

In [45]:
sorted(list1)

[[11, 91, 3], [79, 11, 9], [101, 2, 3]]

In [46]:
sorted(list1, key = lambda x:x[1])

[[101, 2, 3], [79, 11, 9], [11, 91, 3]]

In [48]:
(lambda x: x[1])([101,2,3])

2

In [54]:
list1 = [
[101,2,3],
[11,91,3],
[79, 11, 9]]

sorted(list1, key = lambda x:x[2] , reverse = True)

[[79, 11, 9], [101, 2, 3], [11, 91, 3]]

In [ ]:
[101, 2, 3] --> 3
[11, 91, 3] --> 3
[79, 11, 9] --> 9

In [51]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
students = [
    {"name": "Vineet", "marks": 100},
    {"name": "Rhythm", "marks": 75},
    {"name": "John", "marks": 40},
    {"name": "Umesh", "marks": 70},
    {"name": "Siddesh", "marks": 60},
]

# Part1: sort this list of dicts on marks

In [ ]:
dict1 = {"Umesh": 30,
         "John": 90, 
         "Rhythm": 35,
         "Vineet": 20,
         "Anup": 50 }
# sort this on marks and generate new dictionary

In [61]:
students = [
    {"name": "Vineet", "marks": 100}, # lambda x: x['marks'] 
    {"name": "Rhythm", "marks": 75}, # x
    {"name": "John", "marks": 40},
    {"name": "Umesh", "marks": 70},
    {"name": "Siddesh", "marks": 60},
]

In [62]:
print(sorted(students, key = lambda x: x['marks']))

[{'name': 'John', 'marks': 40}, {'name': 'Siddesh', 'marks': 60}, {'name': 'Umesh', 'marks': 70}, {'name': 'Rhythm', 'marks': 75}, {'name': 'Vineet', 'marks': 100}]

In [59]:
{"name": "Vineet", "marks": 100}['marks']

100

In [63]:
dict1 = {"Umesh": 30,
         "John": 90, 
         "Rhythm": 35,
         "Vineet": 20,
         "Anup": 50 }
# sort this on marks and generate new dictionary
sorted(dict1) # sorted keys of input_dict

['Anup', 'John', 'Rhythm', 'Umesh', 'Vineet']

In [66]:
list(dict1.items())

[('Umesh', 30), ('John', 90), ('Rhythm', 35), ('Vineet', 20), ('Anup', 50)]

In [68]:
dict(sorted(list(dict1.items()), key = lambda x:x[1]))

{'Vineet': 20, 'Umesh': 30, 'Rhythm': 35, 'Anup': 50, 'John': 90}

In [69]:
dict(sorted(dict1.items(), key = lambda x:x[1]))

{'Vineet': 20, 'Umesh': 30, 'Rhythm': 35, 'Anup': 50, 'John': 90}

In [71]:
type(dict1.items())

dict_items

perform square of each number given in a list:

In [77]:
list1 = [ 1,2,3,4,5]

In [79]:
new_list = []

for i in list1:
    new_list.append((lambda x:x**2)(i))

new_list

[1, 4, 9, 16, 25]

map:

In [81]:
list1 = [ 1,2,3,4,5]
list(map(lambda x:x**2,list1))

[1, 4, 9, 16, 25]

In [82]:
# taking a list of numbers from user

In [95]:
input_list = map(int, input().split(" "))

1 2 3 4 5

In [96]:
type(input_list)

map

In [97]:
list(input_list)

[1, 2, 3, 4, 5]

In [99]:
input_list = map(int, input().split(" "))
for i in input_list:
    print(type(i), i)

1 2 3 4 5
<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5

In [100]:
# map on map

### Filter

In [102]:
list1 = [ 1,2,3,4,5]
list(filter(lambda x: x%2==0, list1))

[2, 4]

In [103]:
def check_even(x):
    return x%2==0
list1 = [ 1,2,3,4,5]
list(filter(check_even, list1))

[2, 4]

In [106]:
def check_even(x):
    return x

if check_even(0):
    print("Hello")

In [107]:
def check_even(x):
    return x
list1 = [ 1,2,3,4,5]
list(filter(check_even, list1))

[1, 2, 3, 4, 5]

In [108]:
def check_even(x):
    return x
list1 = [0, 1,2,3,4,5, None]
list(filter(check_even, list1))

[1, 2, 3, 4, 5]

Functional Programming:
- Quizzes
- Reduce 
- Zip

Higher Order Function
- Decorators

- packing and unpacking: *args and **kwargs

In [ ]:
class A:
    pass

a = A() # new function and init function
# new: it will allocate memory for your object
# init: it will initialize instance vars

### can we write recursive function using lambda?

In [1]:
# !python