<a href="https://colab.research.google.com/github/SachinScaler/dsml-apr-23-advanced-batch/blob/main/OOP_Session_1_APR23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
stud1= "S"
stud1_batch = "APR23"
stud1_module = "Python Advanced"

In [ ]:
stud2= "A"
stud2_batch = "Dec22"
stud2_module = "Python Advanced"

def gives_test(name, module):
    return "Student " + name + " completed: " + module

print(gives_test(stud1, stud1_module))

Student S completed: Python Advanced

In [ ]:
print(gives_test(stud2, stud2_module))

Student A completed: Python Advanced

In [ ]:
class Student: # empty class
    pass

In [ ]:
s1 = Student() # instatiation of student class

In [ ]:
s1.name="S"
s1.batch="APR23"
s1.module = "Python Advanced"

In [ ]:
s2 = Student() # instatiation of student class
s2.name="A"
s2.batch="Dec22"
s2.module = "Python Advanced"

In [ ]:
s1.__dict__ # we can print all attributes that belong to s1

{'name': 'S', 'batch': 'APR23', 'module': 'Python Advanced'}

In [ ]:
s2.__dict__ # we can print all attributes that belong to s1

{'name': 'A', 'batch': 'Dec22', 'module': 'Python Advanced'}

In [ ]:
class Student:

    # method
    def gives_test(self):
        return "Student " + self.name + " completed: " + self.module


s1 = Student() 
s1.name="S"
s1.batch="APR23"
s1.module = "Python Advanced"

s2 = Student() # instatiation of student class
s2.name="A"
s2.batch="Dec22"
s2.module = "Python Advanced"

In [ ]:
s1.gives_test()

'Student S completed: Python Advanced'

In [ ]:
s2.gives_test()

'Student A completed: Python Advanced'

In [ ]:
class Student:

    # method
    def gives_test(self, marks):
        print(id(self)) # self is storing the object that is calling the method
        return "Student " + self.name + " completed: " + self.module


s1 = Student() 
s1.name="Sachin"
s1.batch="APR23"
s1.module = "Python Advanced"

In [ ]:
id(s1)

139705311813200

In [ ]:
print(s1.name)

Sachin

In [ ]:
s1.gives_test()

139705311813200

'Student Sachin completed: Python Advanced'

In [ ]:
s100 = Student() 
s100.name="Nikhil"
s100.batch="Dec22"
s100.module = "Python Advanced"
print(id(s100))

139705560555328

In [ ]:
s100.gives_test() # self is storing s100

139705560555328

'Student Nikhil completed: Python Advanced'

In [ ]:
s1.gives_test()

139705311813200

'Student Sachin completed: Python Advanced'

In [ ]:
print(s100.name)# self.name

Nikhil

In [ ]:
s1.gives_test("Hello")

TypeError: ignored

In [ ]:
class Student:

    # method
    def gives_test(self, marks):
        print(id(self)) # self is storing the object that is calling the method
        return "Student " + self.name + " completed: " + self.module + " with marks: " + str(marks)


s1 = Student() 
s1.name="Sachin"
s1.batch="APR23"
s1.module = "Python Advanced"

s1.gives_test(80) # here s1 is passed to self by python

139705577747840

'Student Sachin completed: Python Advanced with marks: 80'

In [ ]:
Student.gives_test(s1, 80) # # we are passing s1 to self

139705577747840

'Student Sachin completed: Python Advanced with marks: 80'

In [ ]:
s2 = Student() 

s2.batch="APR23"
s2.module = "Python Advanced"

In [ ]:
print(s2.batch)

APR23

In [ ]:
print(s2.name)

AttributeError: ignored

In [ ]:
s2.gives_test(90)

139705311911312

AttributeError: ignored

In [ ]:
class A:
    def method2():
        print("I ma in Class A")

    def method1(random_name, self):
        print(id(random_name))
        print("RandomName Value: ", random_name)
        print("Self Value: ",self)


a1= A()
print(id(a1))

139705311910832

In [ ]:
a1.method1("Hi") # A.method(a1)

139705311910832
RandomName Value:  <__main__.A object at 0x7f0fad7d5bb0>
Self Value:  Hi

- Self if not a keyword, python automatically passes the object as first argument in the method
- To Call any method with an object, the method should have atleast one Argument

In [ ]:
a1.method2()

TypeError: ignored

In [ ]:
 A.method2() # calling this method with Class Name since it does not have any argument

I ma in Class A

In [ ]:
class A:
    def method2(self):
        print("I ma in Class A")

    def method1(random_name, self):
        print(id(random_name))
        print("RandomName Value: ", random_name)
        print("Self Value: ",self)


a1= A()
a1.method2()

I ma in Class A

In [ ]:
class Student:

    # method
    def gives_test(self, marks):
        print(id(self)) # self is storing the object that is calling the method
        return "Student " + self.name + " completed: " + self.module + " with marks: " + str(marks)


s1 = Student() 
s1.name="Sachin"
s1.batch="APR23"
s1.module = "Python Advanced"

s1.gives_test(80) # here s1 is passed to self by python

### `__init__` : Intializer
- It's a magic Method that automatically gets called when Object is Created.

- Intializer creates common set of variables automatically when creating the object

In [ ]:
class Student:

    def __init__(self, name, batch, module):
        self.name = name
        self.batch=batch
        self.module=module

    # method
    def gives_test(self, marks):
        print(id(self)) # self is storing the object that is calling the method
        return "Student " + self.name + " completed: " + self.module + " with marks: " + str(marks)


s1 = Student("Sachin", "APR23", "Python Advanced") 

s1.gives_test(80) # here s1 is passed to self by python

139704821874352

'Student Sachin completed: Python Advanced with marks: 80'

In [ ]:
s2 = Student("Harshit", "Dec22", "Pandas and Numpy") 

s2.gives_test(90)

139704821874496

'Student Harshit completed: Pandas and Numpy with marks: 90'

In [ ]:
s1.__dict__

{'name': 'Sachin', 'batch': 'APR23', 'module': 'Python Advanced'}

In [ ]:
s2.__dict__

{'name': 'Harshit', 'batch': 'Dec22', 'module': 'Pandas and Numpy'}

In [ ]:
s2.vehicle = "BMW 320D"

In [ ]:
print(s2.vehicle)

BMW 320D

In [ ]:
print(s1.vehicle)

AttributeError: ignored

- Assign default value to one of the args in intiatizer
- Try Creating objects without passing values for all three args

In [ ]:
class BankAccount:
    bankname = "SBI" # class Variable  or Static Variable: It's shared Variable Across ALL OBJECTS

    def __init__(self, acc_no, name,acc_type, balance):
        self.acc_no=acc_no
        self.name = name
        self.acc_type = acc_type
        self.balance = balance

b1= BankAccount(1, "A", "Savings", 100)
b2= BankAccount(2, "B", "Savings", 10)
b3= BankAccount(3, "C", "Current", 1000)

In [ ]:
b1.bankname

'SBI'

In [ ]:
b2.bankname

'SBI'

In [ ]:
b3.bankname

'SBI'

In [ ]:
b4= BankAccount(4, "D", "Current", 10000)

In [ ]:
b4.bankname # access Class Var using Object

'SBI'

In [ ]:
BankAccount.bankname # Access Class Var using Class

'SBI'

In [ ]:
BankAccount.bankname = "PNB" # changing Class Variable using Class

In [ ]:
BankAccount.bankname # Access Class Var using Class

'PNB'

In [ ]:
b4.bankname

'PNB'

In [ ]:
b3.bankname

'PNB'

In [ ]:
b2.bankname

'PNB'

In [ ]:
b4.bankname = "SBI" # this creates a new instance variable only for b4

In [ ]:
print(b4.bankname)

SBI

In [ ]:
print(b3.bankname)

PNB

In [ ]:
print(BankAccount.bankname)

PNB

In [ ]:
b4.__dict__

{'acc_no': 4,
 'name': 'D',
 'acc_type': 'Current',
 'balance': 10000,
 'bankname': 'SBI'}

In [ ]:
b3.__dict__

{'acc_no': 3, 'name': 'C', 'acc_type': 'Current', 'balance': 1000}

In [ ]:
print(b3.bankname)

PNB

### Homework: Create Class Variable as Mutable and try to modify it using object as well as Class and Check if modifications are shared across All.

In [ ]:
class BA:
  Var = "SBI"  
  def __init__(self, acc_id, name, balance):
    self.id = acc_id
    self.name = name
    self.bal = balance

  def show_b(self):
    print("Bal is: ", self.bal)

c1 = BA(101, "Sachin",1000)
c1.pancard = 1234
print(len(c1.__dict__))

4

In [ ]:
class BA:
  Var = "SBI"  
  def __init__(self, acc_id, name, balance):
    self.id = acc_id
    self.name = name
    self.balance = balance

  def show_b(self):
    print("Balance is: ", self.balance)

c1 = BA(101, "Sachin",1000)
len(c1.__dict__)

3

In [ ]:
dir(c1)

['Var',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'balance',
 'id',
 'name',
 'show_b']

### Explore the usecase of 5 magic Methods
```
- __str__
- __new__
- __lt__
- __eq__

In [ ]:
class BA:
  Var = "SBI"  
  IFSC=101
  def __init__(self, acc_id, name, balance):
    self.id = acc_id
    self.name = name
    self.bal = balance

c1 = BA(101, "Sachin",1000)
c1.pancard = 1234

In [ ]:
class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    return self.name
p1 = Student("Manju")
p2 = Student("Chandan")
p2.get_person_name()

'Chandan'

In [ ]:
p1.get_person_name()

'Manju'

In [ ]:
class Student:
  batch = 'June22'
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    print(self.name)

p1=Student("Needa")
p1.batch = 'July22'

print(Student.batch, p1.batch) # since batch immutable

June22 July22

In [ ]:

class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    return self.name
p1=Student("Mohammad") # 1
p1.name = 'Mohamed' # 2

print(p1.get_person_name(), p1.name)

Mohamed Mohamed

In [ ]:

class Student:
  def __init__(self, name):
    self.name = name              
  def get_person_name(self):
    return self.name
p1=Student("Mohammad") # 1
print(p1.name)
p1.name = 'Mohamed' # 2
print(p1.name)

Mohammad
Mohamed