<a href="https://colab.research.google.com/github/SachinScaler/dsml-apr-23-advanced-batch/blob/main/Python_Refresher_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
list1 = [1,2,3] 
a = id(list1) 
list1.append([4,5]) 
print(list1)

[1, 2, 3, [4, 5]]

In [ ]:
import numpy as np

a = np.array([1,2])

In [ ]:
id(a)

140019652240272

In [ ]:
a[1]= 5

In [ ]:
id(a)

140019652240272

In [ ]:
list1 = [1,2,3]
a = id(list1)
list1.append([4,5])
b = id(list1)

print(a==b)

True

In [ ]:
list1 = [1,2,3]
a = id(list1)
list1.append("Hello")
b = id(list1)

print(a==b)

True

In [ ]:
list1 = [1,2,3]
list1.append("Hello")
a = id(list1)
list1[-1] = list1[-1]+"World"
b = id(list1)

print(a==b)

True

In [ ]:
list1 = [1,2,3]
list1.append("Hello")
a = id(list1[-1]) # id of hello: immutable
list1[-1] = list1[-1]+"World" # modify hello
b = id(list1[-1]) # id of hello changes?

print(a==b)

False

In [ ]:
list1 = [1,2,3]
list2 = [4,5]
list1.append(list2)
print(list1)

[1, 2, 3, [4, 5]]

In [ ]:
[1,2,3,4,5]

In [ ]:
list1 = [1,2,3]
list2 = [4,5]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5]

In [ ]:
list1 = [1,2,3]
list2 = [4,5]
list1+list2

[1, 2, 3, 4, 5]

In [ ]:
list1 = [1,2,3]
list2 = [4,5]
print(id(list1))
list1.extend(list2)
print(id(list1))

140019651321984
140019651321984

In [ ]:
list1 = [1,2,3]
list2 = [4,5]
print(id(list2))
list2.extend(list1)
print(id(list2))

140020040584320
140020040584320

In [ ]:
print(list2)

[4, 5, 1, 2, 3]

In [ ]:
list1 = [1,2,3]
a = id(list1)
list2 = [4,5]
list1 = list1+list2
b = id(list1)
print(a==b)

False

In [ ]:
print(a,b)

140019651776192 140019651775808

In [ ]:
max(list1)

5

In [ ]:
min(list1)

1

In [ ]:
sum(list1)

15

In [ ]:
### sorting
list1 = [2,434,1,-1]
list1.sort() # inplace operation, doesn't return
print(list1)

[-1, 1, 2, 434]

In [ ]:
list1 = [2,434,1,-1]
list1 = sorted(list1)
print(list1)

[-1, 1, 2, 434]

In [ ]:
len(list1)

4

In [ ]:
###
list1 = [2,434,1,-1]
list1 = sorted(list1)
print(list1)

[-1, 1, 2, 434]

In [ ]:
# approach 1
list1 = [2,434,1,-1]
list1 = sorted(list1, reverse = True)
print(list1)

[434, 2, 1, -1]

In [ ]:
# approach 2
list1 = [2,434,1,-1]
list1 = sorted(list1)
list1.reverse()
print(list1)

[434, 2, 1, -1]

In [ ]:
# approach 3: Slicing
list1 = [2,434,1,-1]
list1 = sorted(list1)
print(list1[::-1])

[434, 2, 1, -1]

In [ ]:
[1,2,3][0:100:-2]

[]

In [ ]:
[1,2,3][0::-2]

[1]

In [ ]:
a = [1,2,3,4,5,6,8,9]
for i in range(0, 4):
    print(a[i])

1
2
3
4

In [ ]:
for i in range(0, 4, 2): # use indexes to access elements
    print(a[i])

1
3

In [ ]:
for i in a: # directly access elements
    print(i)

1
2
3
4
5
6
8
9

In [ ]:
for i,j in enumerate(a): # directly access elements
    print(i, j)

0 1
1 2
2 3
3 4
4 5
5 6
6 8
7 9

In [ ]:
list(enumerate(a))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 8), (7, 9)]

In [ ]:
dict(enumerate(a))

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 8, 7: 9}

In [ ]:
a= 1
b = 2

# unpacking

In [ ]:
a,b = 1,2
print(a)
print(b)

1
2

In [ ]:
a,b,c = [1,2,3]

In [ ]:
a = [1,2,3]
for tup in enumerate(a): # directly access elements
    print(tup)

(0, 1)
(1, 2)
(2, 3)

In [ ]:
print(enumerate(a))

<enumerate object at 0x7f58dd908f00>

In [ ]:
for i in range(len(a)): 
    print(i,a[i])

0 1
1 2
2 3

In [ ]:
list1 = ['s', 'a','c', 'h', 'i', 'n']

In [ ]:
str1 = ""
print(id(str1))
for i in list1:
    str1+=i
print(id(str1))

140020427974384
140019161828208

In [ ]:
list1 = ['s', 'a','c', 'h', 'i', 'n']
"".join(list1)

'sachin'

In [ ]:
list1 = ['s', 'a','c', 'h', 'i', 'n']
" ".join(list1)

's a c h i n'

In [ ]:
str1 = ""
list1 = [ 1,2,3,4]
for i in list1:
    str1+=i # change this only
str1 # "1 2 3 4"

In [ ]:
list1 = [1,2,3,4]
# list2 = [1, 4, 9, 16]

In [ ]:
list2 = []
for i in list1:
    list2.append(i**2)

list2

[1, 4, 9, 16]

### To generate new list from existing list, we can use list comprehension

In [ ]:
[i**2 for i in list1]

[1, 4, 9, 16]

In [ ]:
# map: functional programming

###  HW: use list comprehension to output square of odd number of an input_list
```
[1,2,3,4,5,6,7]
[1,9,25,49]

```

Strings

In [ ]:
str1 = "sachin"
list(str1)

['s', 'a', 'c', 'h', 'i', 'n']

In [ ]:
str1.split()

['sachin']

In [ ]:
string = "1,2,3,4,5"
#[ 1,2,3,4,5]
list(string)

['1', ',', '2', ',', '3', ',', '4', ',', '5']

In [ ]:
string.split(",")

['1', '2', '3', '4', '5']

In [ ]:
[int(i) for i in string.split(",")]

[1, 2, 3, 4, 5]

Dictionary:

In [ ]:
dict1  = {1:"a", 2:"b", 3: "c"}

In [ ]:
dict1  = {1:"a", 2:"b", 1: "c"}
dict1

{1: 'c', 2: 'b'}

In [ ]:
dict1 = {(1,2): "a", "b":100}
dict1

{(1, 2): 'a', 'b': 100}

In [ ]:
dict1 = {[1,2]: "a", "b":100}
dict1

TypeError: ignored

#### Only IMMutables can be used as keys

In [ ]:
dict1 = {(1,2): "a", "b":(100,1)}
dict1

{(1, 2): 'a', 'b': (100, 1)}

In [ ]:
dict1 = {(1,2): "a", "b":[100,1]}
dict1

{(1, 2): 'a', 'b': [100, 1]}

In [ ]:
for k in dict1:
    print(k)

(1, 2)
b

In [ ]:
# method 1
dict1 = dict(enumerate(range(1,5)))
for k in dict1:
    print(k, dict1[k])

0 1
1 2
2 3
3 4

In [ ]:
dict1

{0: 1, 1: 2, 2: 3, 3: 4}

In [ ]:
# method 2
for k,v in dict1.items():
    print(k, v)

0 1
1 2
2 3
3 4

In [ ]:
dict1.keys()

dict_keys([0, 1, 2, 3])

In [ ]:
dict1.values()

dict_values([1, 2, 3, 4])

Question:

In [ ]:
a = 60
if a > 50:
    print("FIRST")
if a > 40:
    print("SECOND")

FIRST
SECOND

In [ ]:
if a > 50:
    print("FIRST")
elif a > 40:
    print("SECOND")

FIRST

In [ ]:
cust_dict = {"Name": "Sachin", {"Order": "ID":"101", "Amount": 100}:1 }

SyntaxError: ignored

In [ ]:
cust_dict = {1: {"Name": "Sachin", "Order":{ "ID":"101", "Amount": 100} },
             2: {"Name": "Arun", "Order":{ "ID":"102", "Amount": 200} }
             }

In [ ]:
cust_dict.keys()

dict_keys([1, 2])

In [ ]:
cust_dict[2]['Order']["Amount"]

200

# check count of each element
list1 = [1,2,2,4,4,1,1,3]

In [ ]:
list1 = [1,2,2,4,4,1,1,3]
list_output=[]
for i in list1: 
    list_output.append((i, list1.count(i)))
set(list_output)

{(1, 3), (2, 2), (3, 1), (4, 2)}

In [ ]:
# approach 1
list1 = [1,2,2,4,4,1,1,3]
list_output=[]
for i in set(list1): 
    print(i, list1.count(i))

1 3
2 2
3 1
4 2

In [ ]:
# 10 elements --> 100 iterations N-->N^2

In [ ]:
# approach 2 
dict1 = {}
for i in list1:
    if i not in dict1:
        dict1[i]=1
    else:
        dict1[i]+=1
dict1

# 10 --> 10 iterations N->N

{1: 3, 2: 2, 4: 2, 3: 1}

In [ ]:
1000->10^6

In [ ]:
i = 1
list1 = [1,2,2,4,4,1,1,3]

def count(list1, i):
    count1 = 0
    for j in list1:
        if i==j:
            count1+=1
    return count1
count(list1, i)

3

In [ ]:
list1 = ['a','b', 'c']
str1 = ""
for i in range(len(list1)):
    str1+=list1[i]+" "
str1

'a b c '

In [ ]:
str1[:-1]

'a b c'

In [ ]:
str1.strip()

'a b c'

In [ ]:
list1 = [1,2,2,4,4,1,1,3]
[i**2 for i in list1 if i%2!=0]

[1, 1, 1, 9]

In [ ]:
list1 = [1,2,2,4,4,1,1,3]
# if odd perform square else perform cube
[i**2 if i%2==0 else i**3 for i in list1]

[1, 4, 4, 16, 16, 1, 1, 27]

In [ ]:
a = [1,2]
a.append(2) # inplace operation
print(a)

[1, 2, 2]

In [ ]:
a = [1,2].extend([2]) # inplace operation
print(a)

None

In [ ]:
a = [1,2] + [2] # inplace operation
print(a)

[1, 2, 2]

In [ ]:
def Reverse(lst):
    return lst.reverse()
print(Reverse([1,2,3,4]))

None

In [ ]:
a = [1,2].append(2) # inplace operation
print(a)

In [ ]:
def Reverse(lst):
    lst.reverse()
    return lst
print(Reverse([1,2,3,4]))

[4, 3, 2, 1]

In [ ]:
list1 = [1,2, 3]
str1 = ""
for i in range(len(list1)):
    str1+=str(list1[i])+" "
str1[:-1]

'1 2 3'

In [ ]:
list1 = [1,2, 3]
a = list1.reverse()
print(a)

None

In [ ]:
list1

[3, 2, 1]

In [ ]:
def Reverse(lst):
    lst.reverse()
    return lst
Reverse(list1)

[3, 2, 1]