In [ ]:
print("Hello Everyone")

Hello Everyone

In [ ]:
a = "Hello"

In [ ]:
a = 10

check Class

In [ ]:
a = 100

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
a = "Hello"
print(type(a))

<class 'str'>

In [ ]:
print(type(True))

<class 'bool'>

### isinstance(a,b) and tells whether a is of the type b or not. (a is an object of class b or not)

In [ ]:
isinstance(a, int)

False

In [ ]:
isinstance(a, str)

True

In [ ]:
isinstance(a, object)

True

In [ ]:
a = 1 + 2j
print(type(a))

<class 'complex'>

Arithmatic Operations

In [ ]:
1 + 2

3

In [ ]:
a= 1
b = 2
print(a+b)

3

In [ ]:
a= 1
b = 2
c = (a+b)
print(c)

3

### Arithmatic Operations in Python
```- , * , /, //, %, **```

In [ ]:
a = "Hello"
b = "World"
print(a+b) # + operation concatenates in case of string

HelloWorld

In [ ]:
print(10-2)

8

In [ ]:
print("abc"-"c")

TypeError: ignored

In [ ]:
4*3

12

In [ ]:
"ab"*3

'ababab'

In [ ]:
4/2 # returns float

2.0

In [ ]:
4//2 # floor division: return int

2

In [ ]:
5/2

2.5

In [ ]:
5//2

2

In [ ]:
# a/b = 2.9999  # a//b-->2

In [ ]:
int(2.999)

2

In [ ]:
4/2 +1

3

In [ ]:
1+2*3

7

In [ ]:
2**4 # exponentiation operator

16

In [ ]:
5%2 # module operator: returns remainder

1

In [ ]:
1.1  + 2.2

3.3000000000000003

In [ ]:
8%3

2

In [ ]:
-8%3

1

In [ ]:
### in case of a being negative
### -a % b --> b - (a mod b)

Homework:

Q1: Find how float is represent in pythoon. Why are operations on floats approximated?

Q2:
What happens when only b is negative and both a and b are negative

identifiers
- name we can give to our variables
 
Rules for creating identifiers:

    1. it should start with alphabets or _
    2.  It can contain alphanumeric _ at middle or End

In [ ]:
2a = "Hello"

SyntaxError: ignored

In [ ]:
_a = 100

In [ ]:
a2 = 100

In [ ]:
a22_ = "abc"

In [ ]:
a@12 = "Hello"

SyntaxError: ignored

In [ ]:
a_12 = "Hello"

In [ ]:
print(z)

NameError: ignored

In [ ]:
print(_)

1

In [ ]:
10+20

30

In [ ]:
print(_)

30

`_` automatically stores the value of last executed expression

In [ ]:
_ = "Hello"

In [ ]:
print(_)

Hello

In [ ]:
100+1

101

In [ ]:
print(_)

Hello

Mutables vs Immutables

Resume @10:6

In [ ]:
a = 5 # immutable

In [ ]:
a = 100001

### `id` which tells memory location of data

In [ ]:
a = 5 # immutable
print(id(a))

140242300406192

In [ ]:
a = 100001 # immutable
print(id(a))

140241034513424

In [ ]:
list1 = [1]
print(id(list1))

140241034627712

In [ ]:
list1.append("hello")

In [ ]:
print(id(list1))

140241034627712

In [ ]:
print(id(list1[0]))

140242300406064

In [ ]:
print(id(list1[1]))

140241794207536

In [ ]:
print(id(list1[2]))

IndexError: ignored

In [ ]:
print(list1)

[1, 'hello']

dict:
- stores key value pairs
- No duplicate keys
- onrdered

In [ ]:
dict1 = {"Name": "Sachin",
         "ID": 101}
print(dict1)

{'Name': 'Sachin', 'ID': 101}

In [ ]:
print(id(dict1))

140241034091008

In [ ]:
dict1["PanCard"]="QQQ24"

In [ ]:
print(dict1)

{'Name': 'Sachin', 'ID': 101, 'PanCard': 'QQQ24'}

In [ ]:
len(dict1)

3

In [ ]:
dict1[0]

KeyError: ignored

In [ ]:
dict1['ID']

101

In [ ]:
print(id(dict1))

140241034091008

In [ ]:
dict1 = {"Name": "A", "Id": 1, "Name": "B"}
print(dict1)

{'Name': 'B', 'Id': 1}

In [ ]:
dict1["Name"] = "C"
print(dict1)

{'Name': 'C', 'Id': 1}

### Sets
-  special datastructure which can't have duplicates
- Unordered

In [ ]:
set1 = {1,2, "Hello"}

In [ ]:
print(type(set1))

<class 'set'>

In [ ]:
set1 = {1,2, "Hello", 1}
print(set1)

{'Hello', 1, 2}

In [ ]:
set1[0]

TypeError: ignored

-

In [ ]:
for  i in set1:
    print(i)

Hello
1
2

In [ ]:
for  i in set1:
    print(i)

Hello
1
2

In [ ]:
for k in dict1:
    print(k)

Name
Id

In [ ]:
for k in dict1:
    print(k)

Name
Id

In [ ]:
print(set1)

{'Hello', 1, 2}

In [ ]:
print(set1)

{'Hello', 1, 2}

### Indentation and Conditions

In [ ]:
list1 = [1,2,4,[5,6,7], 'hello',[54,23]]

In [ ]:
print(len(list1))

6

### Homework:
- change element at index 2 and compare it's id before and after the change

- append 100 at index 3 and compare it's id before and after the change

### Tuples
 - Heterogenous
 - Ordered 
 - Immutable

In [ ]:
tup1 = (1,2,3, "Hello", True, [1,2])

In [ ]:
tup1[1]

2

In [ ]:
tup1[1] = 100

TypeError: ignored

### Conditional Blocks

In [ ]:
a = 100
b = 10

if a>50:
    print(a+b)

110

In [ ]:
a = 100
b = 10

if a>50:
    print(a+b)
  print("Hello")

IndentationError: ignored

### uniform spacing: Indentation

In [ ]:
a = 100
b = 10

if a>50:
   print(a+b)
   print("Hello")

110
Hello

In [ ]:

if a>50:
    print(a+b)
else:
    print(a-b)
    print("Hello")

110

In [ ]:
# if a >25
a = 100
b = 100
if a>25:
    print(a+b)
elif a>50: # if first condition is satisfied we don't evaluate elif 
    print(a*b)
else: 
    print(a-b)

200

In [ ]:
a = 100
b = 100
if a>25:
    print(a+b)
if a>50: # indepenet so get evaluated irresepective of outcome from first if block
    print(a*b)
else:
    print(a-b)

200
10000

In [ ]:
a = 100
b = 10
if a>25:
    print(a+b)
elif a>50:  
    print(a*b)

110

Functions: To Create re-executable code

In [ ]:
a = 100
b = 10
if a>25:
    print(a+b)
elif a>50:  
    print(a*b)
else:
    print("NO Output")

110

In [ ]:
a = 51
b = 100
if a>50 :
    print(a+b)
elif a>25:  
    print(a*b)
else:
    print("NO Output")

151

In [ ]:
def demo_function(a,b):
    if a>50 :
        print(a+b)
    elif a>25:  
        print(a*b)
    else:
        print("NO Output")

demo_function(100, 10)

110

In [ ]:
demo_function(25, 10)

NO Output

In [ ]:
c = 151
d = 20
demo_function(c, d)

171

In [ ]:
def demo_function(a,b):
    if a>50 :
        print(a+b)
    elif a>25:  
        print(a*b)
    else:
        print("NO Output")

demo_function(10, 20, 30)

TypeError: ignored

In [ ]:
def demo_function(a,b, *c):
    print(c)
    if a>50 :
        print(a+b + sum(c))
    elif a>25:  
        print(a*b)
    else:
        print("NO Output")

demo_function(10, 20, 30)

(30,)
NO Output

In [ ]:
demo_function(51, 20, 30, 320,340,349)

(30, 320, 340, 349)
1110

In [ ]:
demo_function(51, 20)

()
71

In [ ]:
demo_function(51)

TypeError: ignored

### Keyword Argument:

In [ ]:
def demo_function(a,b, *c, **d): # keyword args have ** in front of themx kwargs
    print(c)
    print(d)
    if a>50 :
        print(a+b + sum(c))
    elif a>25:  
        print(a*b)
    else:
        print("NO Output")

demo_function(10, 20, 30, name="sachin", id = "101")

(30,)
{'name': 'sachin', 'id': '101'}
NO Output

In [ ]:
def demo_function(a,b, *c): # keyword args have ** in front of themx
    a.append(100)
    print(a)
    print(b)
    print(c)
a = [100]
print(id(a))
demo_function(a,10, [1,2, 3], [1,2])
print(id(a))

140241033991296
[100, 100]
10
([1, 2, 3], [1, 2])
140241033991296

In [ ]:
a

[100, 100]